@page "/typing"
@inject IJSRuntime JSRuntime;
@using Classes;

<h3>Typing Test</h3>

<select @onchange="WordAmountChanged">
    @foreach(var wordAmount in WordAmounts)
    {
        <option>@wordAmount</option>
    }
</select>

<div class="word-container">
    @for (int i = 0; i < WordSet.Length; i++)
    {
        <span class="word-@i" style="@WordSetStyles[i].ToString()">@WordSet[i]</span>
    }
</div>

<div class="word-input">
    <input type="text" spellcheck="false" @onkeyup="KeyUp" @bind-value="InputValue" @bind-value:event="oninput" readonly=@gameOver />
</div>


WrongWords:@wrongWords
<br />
CorrectWords:@correctWords
<br />
CorrectCharacters:@correctCharacters
<br />
<br />
Time left:@StopWatchValue



@code {


    private void WordAmountChanged(ChangeEventArgs e)
    {
        WordSetSettings.WordAmount = Convert.ToInt32(e.Value);
        FillWordSet();
        FillStyles();
    }





    #region Timer

    TimeSpan StopWatchValue = new TimeSpan();
    bool istStopwatchRunning = false;

    async Task StartStopWatch()
    {
        istStopwatchRunning = true;
        while (istStopwatchRunning)
        {
            await Task.Delay(1000);
            if (istStopwatchRunning)
            {
                StopWatchValue = StopWatchValue.Add(new TimeSpan(0, 0, 1));
                StateHasChanged();
            }
        }
    }

    #endregion

    private string[] WordSet { get; set; }
    private WordStyle[] WordSetStyles { get; set; }

    List<int> WordAmounts = new List<int>() { 100, 200, 300, 400};
    WordSetSettings WordSetSettings;


    protected override void OnInitialized()
    {
        WordSetSettings = new WordSetSettings("geman", WordAmounts[0]);
        FillWordSet();
        FillStyles();
    }

    private void FillWordSet()
    {
        string[] words = new string[WordSetSettings.WordAmount];
        List<string> wordList = new List<string>() { "hallo", "wie", "geht", "es", "vielleicht", "immer", "kacken", "denken", "machen", "gehen" };
        Random r = new Random();
        for (int i = 0; i < words.Length; i++)
        {
            words[i] = wordList[r.Next(0, wordList.Count)];
        }
        WordSet = words;
    }

    private void FillStyles()
    {
        WordSetStyles = new WordStyle[WordSet.Length];
        for (int i = 0; i < WordSetStyles.Length; i++)
        {
            WordSetStyles[i] = new WordStyle(System.Drawing.Color.White, System.Drawing.Color.Black);
        }
        WordSetStyles[0].BackgroundColor = System.Drawing.Color.LightGray;
    }

    private bool gameOver = false;
    private string InputValue { get; set; }
    private string CurrentWord { get; set; }

    private int currentWordIndex = 0;
    public int correctWords = 0;
    public int wrongWords = 0;
    public int correctCharacters = 0;

    private int wordsPerMinute;

    private async void KeyUp(KeyboardEventArgs e)
    {
        if (!gameOver)
        {
            UpdateWordColor();
            if (istStopwatchRunning == false)
            {
                StartStopWatch();
            }
            if (e.Key == " ")
            {
                CurrentWord = InputValue.Split(" ")[0];
                string charactersAfterSpace = InputValue.Split(" ")[1];
                bool wordIsRight = CheckIfInputIsRight();

                UpdateStats(wordIsRight);

                ClearInput();
                InputValue = charactersAfterSpace;
                currentWordIndex++;
                UpdateWordBackgroundColor();
                UpdateLastWordStlye(wordIsRight);
            }
        }
    }

    private void UpdateWordColor()
    {
        if (!WordSet[currentWordIndex].StartsWith(InputValue.Split(" ")[0]))
        {
            WordSetStyles[currentWordIndex].Color = System.Drawing.Color.Red;
        }
        else
        {
            WordSetStyles[currentWordIndex].Color = System.Drawing.Color.Black;
        }
    }

    private bool CheckIfInputIsRight()
    {
        return CurrentWord == WordSet[currentWordIndex];
    }

    private void UpdateStats(bool wordIsRight)
    {
        if (wordIsRight)
        {
            correctWords++;
            correctCharacters += CurrentWord.Length;
            correctCharacters += 1; //we don't count space to the correctword but we have to count it to a the correct characters
        }
        else
        {
            wrongWords++;
        }
    }

    private void ClearInput()
    {
        CurrentWord = string.Empty;
        InputValue = string.Empty;
    }

    private void UpdateWordBackgroundColor()
    {
        WordSetStyles[currentWordIndex - 1].BackgroundColor = System.Drawing.Color.White;
        WordSetStyles[currentWordIndex].BackgroundColor = System.Drawing.Color.LightGray;
    }

    private void UpdateLastWordStlye(bool lastWordWasRight)
    {
        if (lastWordWasRight)
        {
            WordSetStyles[currentWordIndex - 1].Color = System.Drawing.Color.Green;
        }
        else
        {
            WordSetStyles[currentWordIndex - 1].Color = System.Drawing.Color.Red;
        }
    }
}