@page "/typing"

<h3>Typing Test</h3>

<div class="word-container">
    @for (int i = 0; i < WordSet.Length; i++)
    {
        <span class="word-@i" style="@WordSetStyles[i].ToString()">@WordSet[i]</span>
    }
</div>

<div class="word-input">
    <input type="text" spellcheck="false" @onkeyup="KeyUp" @bind-value="InputValue" @bind-value:event="oninput" readonly=@gameOver />
</div>


WrongWords:@wrongWords <br />
CorrectWords:@correctWords<br />
CorrectCharacters:@correctCharacters<br />
<br />
Time left:@TimeLeft
<p>@displayText</p>


@code {


    #region Timer

    TimeSpan TimeLeft = new TimeSpan(0, 0, 10);  //1 minute Timer
    private bool timerStarted = false;
    private string displayText = "";

    async Task Timer()
    {
        timerStarted = true;
        while (TimeLeft > new TimeSpan())
        {
            await Task.Delay(1000);
            Console.WriteLine(TimeLeft);
            TimeLeft = TimeLeft.Subtract(new TimeSpan(0, 0, 1));
            StateHasChanged();
        }
        await AfterTime();
        StateHasChanged();
    }

    Task AfterTime()
    {
        gameOver = true;
        InputValue = string.Empty;
        displayText = "Test ist vorbei";
        return Task.CompletedTask;
    }

    #endregion

    private string[] WordSet { get; set; }
    private Portfolio.Classes.WordStyle[] WordSetStyles { get; set; }

    protected override void OnInitialized()
    {
        FillWordSet();
        FillStyles();
    }

    private void FillWordSet()
    {
        string[] words = new string[200];
        List<string> wordList = new List<string>() { "Hallo", "wie", "geht", "es", "dir", "du", "Pferd" };
        Random r = new Random();
        for (int i = 0; i < words.Length; i++)
        {
            words[i] = wordList[r.Next(0, wordList.Count)];
        }
        WordSet = words;
    }

    private void FillStyles()
    {
        WordSetStyles = new Classes.WordStyle[WordSet.Length];
        for (int i = 0; i < WordSetStyles.Length; i++)
        {
            WordSetStyles[i] = new Classes.WordStyle(System.Drawing.Color.White, System.Drawing.Color.Black);
        }
        WordSetStyles[0].BackgroundColor = System.Drawing.Color.LightGray;
    }

    private bool gameOver = false;

    private string InputValue { get; set; }
    private string CurrentWord { get; set; }
    private int currentWordIndex { get; set; } = 0;

    public int correctWords = 0;
    public int wrongWords = 0;
    public int correctCharacters = 0;

    private async void KeyUp(KeyboardEventArgs e)
    {
        if (!gameOver)
        {
            UpdateWordColor();
            if(timerStarted == false)
            {
                Timer();
            }
            if (e.Key == " ")
            {
                CurrentWord = InputValue.Split(" ")[0];
                string charactersAfterSpace = InputValue.Split(" ")[1];
                bool wordIsRight = CheckIfInputIsRight();

                UpdateStats(wordIsRight);

                ClearInput();
                InputValue = charactersAfterSpace;
                currentWordIndex++;
                UpdateWordBackgroundColor();
                UpdateLastWordStlye(wordIsRight);
            }
        }
    }

    private void UpdateWordColor()
    {
        if (!WordSet[currentWordIndex].StartsWith(InputValue.Split(" ")[0]))
        {
            WordSetStyles[currentWordIndex].Color = System.Drawing.Color.Red;
        }
        else
        {
            WordSetStyles[currentWordIndex].Color = System.Drawing.Color.Black;
        }
    }

    private bool CheckIfInputIsRight()
    {
        return CurrentWord == WordSet[currentWordIndex];
    }

    private void UpdateStats(bool wordIsRight)
    {
        if (wordIsRight)
        {
            correctWords++;
            correctCharacters += CurrentWord.Length;
        }
        else
        {
            wrongWords++;
        }
    }

    private void ClearInput()
    {
        CurrentWord = string.Empty;
        InputValue = string.Empty;
    }

    private void UpdateWordBackgroundColor()
    {
        WordSetStyles[currentWordIndex - 1].BackgroundColor = System.Drawing.Color.White;
        WordSetStyles[currentWordIndex].BackgroundColor = System.Drawing.Color.LightGray;
    }

    private void UpdateLastWordStlye(bool lastWordWasRight)
    {
        if (lastWordWasRight)
        {
            WordSetStyles[currentWordIndex - 1].Color = System.Drawing.Color.Green;
        }
        else
        {
            WordSetStyles[currentWordIndex - 1].Color = System.Drawing.Color.Red;
        }
    }
}